* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: gray;
}

.body {
    width: 100%;
    height: 100vh;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
   
    color: white;
    font-size: 12px;
}

#scores-header {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    font-size: 20px;
    align-items: center;
    color: white;
    width: 500px;
}

#scores {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 4px solid white;
    border-radius: 10px;

    font-size: 40px;
    align-items: center;
    color: white;
    width: 100px;
}
#choices {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 4px solid white;
    border-radius: 10px;

    font-size: 24px;
    align-items: center;
    color: white;
    width: 1100px;
}
#winners {
    padding: 30px;
    display: flex;
    justify-content: center;

    font-size: 24px;
    align-items: center;
    color: white;
}
#finalwinners{
    padding: 30px;
    display: flex;
    justify-content: center;

    font-size: 28px;
    align-items: center;
    color: white;
}
#info{
    padding: 30px;
    display: flex;
    justify-content: center;

    font-size: 18px;
    align-items: center;
    color: white;
}

#restart{
    padding: 1px;
    display: flex;
    justify-content: center;

    font-size: 15px;
    align-items: center;
    color: rgb(30, 29, 29);
}

#choices {
    display: flex;
    justify-content: center;
}
#rps{
    display: flex;
    justify-content: center;
}
#Rock {
    margin-right: 60px;
}

#Scissors {
    margin-left: 60px;
}
button {
    border: 4px solid white;
    justify-content: center;
    padding: 15px;
    border-radius: 25px;
}
img{
    height : 100px;
    width : 100px;
}
button:hover {
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
}
